* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clocks {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7vw;
}


.simpleSoat {
    background-color: white;
    border-radius: 50%;
    width: 25vw;
    height: 25vw;
    border: 0px solid blue;
}


.clockBorder {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 25vw;
    border: none;
    display: flex;
    justify-content: center;
    background-image: url(./photo_2022-05-01_19-07-54.jpg);
    background-repeat: no-repeat;
    background-size: 26.3vw;
    background-position: -0.5vw;
}

.sekundMili {
    position: absolute;
    width: 0.15vw;
    height: 10vw;
    margin-top: 2.2vw;
    background-color: red;
    transform-origin: bottom center;
}

.minutMili {
    position: absolute;
    width: 0.25vw;
    height: 7.5vw;
    margin-top: 4.7vw;
    background-color: blue;
    transform-origin: bottom center;
    animation: 3600s infinite cubic-bezier(1, 1, 1, 1);
}

.soatMili {
    position: absolute;
    width: 0.375vw;
    height: 5vw;
    margin-top: 7.175vw;
    background-color: greenyellow;
    transform-origin: bottom center;
    animation: 216000s infinite cubic-bezier(1, 1, 1, 1);
}

.animation1 {
    animation: animation 60s infinite cubic-bezier(1, 1, 1, 1);
}

.animation2 {
    animation: animation 3600s infinite cubic-bezier(1, 1, 1, 1);
}

.animation3 {
    animation: animation 216000s infinite cubic-bezier(1, 1, 1, 1);
}


.sentr {
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    background-color: #000;
    margin-top: 11.5vw;
    border-radius: 50%;

}


@keyframes animation {
    0% {
        transform: rotate(-360deg);
    }
}


.electronSoat {
    display: flex;
    font-size: 10vw;
    color: green;
}

.doublePoint {
    margin-top: -1vw;
}



button {
    display: block;
    width: 30vw;
    height: 6vw;
    font-size: 4vw;
    border-radius: 0.4vw;
    border: 1px solid white;
    background-color: dodgerblue;
    color: #fff;
}

.refreshBtn {
    display: none;
    background-color: red;
    color: white;
}

span {
    animation: timer 1s infinite ease-in-out 1s;
}

@keyframes timer {
    0%, 50% {
        opacity: 0;
    }

    50%, 100% {
        opacity: 1;
    }

}


@media screen and (max-width:580px) {
    .clocks {
        flex-direction: column;
        row-gap: 5vw;
        padding: 10vw;
    }
}

button:active {
    background-color: white;
    color: dodgerblue;
    border: 1px solid dodgerblue;
}